*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  font-family: "Montserrat", -apple-system, system-ui, sans-serif;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.inner{
  display: flex;
  align-items: center;
  padding: 15px 95px;
}

.header-inner, .grid{
  justify-content: space-between;
}

/*===Header===*/
.header{
  position: fixed;
  background-color: rgba(25,23,32,0.46);
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.logo{
  min-width: 50px;
  height: 50px;
}

.logo img{
  width: 100%;
  height: auto;
}
.nav-list{
  display: flex;
  list-style-type: none;
}

.nav-list > li + li{
  margin-left:56px;
}

.nav-list > li > a{
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

.icon-group{
  display: flex;
}

.icon-group a{
  display: block;
  width: 25px;
  height: 25px;
}

.icon-group .icon + .icon{
  margin-left: 47px;
}

.icon-group > div > img{
  width: 100%;
  height: auto;
}

/*===Banner===*/

.banner-inner{
  justify-content: flex-end;
  height: 616px;
  position:relative;
}

.banner{
  background: #2B2835;
}

.banner-img{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.banner-img img{
}

.info{
  width: 500px;
  color: #fff;
}

.action-box{
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  z-index: 3;
}

.sub-title{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title{
  font-size: 40px;
  font-weight: bold;
}

.price{
  font-size: 40px;
}

.btn{
  outline: none;
  border: none;
  border-radius: 100px;
}

.banner-btn, .catalog-btn{
  margin-left: 34px;
  padding: 12px 48px;
}

.banner-btn{  background: #FFC700;}

.gift{
  font-size: 13px;
}

.yellow{
  color:  #FFC700;
}

/*===Catalog===*/

.catalog-info{
  color: #000;
}

.color-available{
  font-size: 16px;
  padding: 11px 0px 4px 0px;
}

.catalog-title, .grid-title{
  font-size: 50px;
  margin-bottom: 10px;
}

.catalog-title,{
  font-weight: bold;
}


.catalog-info__title{
  font-size: 40px;
  margin: 10px 0;
}

.red{
  background: #DD5656;
}

.black{
  background: black;
}

.radio-group{
  display: flex;
  margin: 10px 0px;
}

.radio{
  display: flex;
  align-items: center;
  justify-content: center;
}

.option{
  width: 47px;
  height: 47px;
}

.radio-input{
  position: absolute;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.radio-box{
  display: block;
  width: 37px;
  height: 37px;
  border-radius: 100px;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);
}

.radio-input:checked + .radio-box{
  width: 47px;
  height: 47px;
  border: 1px solid black;
}

.bitmap{
  position: relative;
}

.slider{
  position: absolute;
  bottom: 131px;
  left: 45%;
}

.radio-slider{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #D1D1D1;
  margin: 0 6px;
}

.radio-input:checked + .radio-slider{
  background: #000;
}

.grid{
  margin-bottom: 54px;
}

.grid-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  flex-basis: 393px;
  height: 560px;
  flex-grow: 0;
  flex-shrink: 1;
  background: #F8F8F9;
  padding: 33px 49px;
}

.grid-img {
  position: absolute;
  top: 40;
  right: 62px;
  z-index: 0;
}

.grid-item:nth-child(2) > .grid-img{
  top: -29px;
  right: 12px;
}

.grid-item:last-child > .grid-img{
  top:100px;
  right: 22px;
}

.grid-title, .grid-option {
  z-index: 3;
}

.grid-title{
  font-weight: 500;
}

.grid-price{
  font-size: 25px;
  color: #9D8220;
  font-weight: 600;
}

.btn-grid, .catalog-btn{
  background-color: #000;
  color: #fff;
}

.btn-grid{
  padding: 12px 33px;
  margin-left: 29px;
}

/*===Footer===*/

.footer{
  padding: 30px 40px 0px 40px;
  background: #2B2835;
}

.footer-inner{
  display: flex;
  padding: 15px 95px;
  justify-content: space-between;
  align-items:flex-start;
}

.footer-item{
  height: 239px;
}

.footer-item, .footer-nav a{
  color: #fff;
}

.footer-nav {
  list-style-type: none;
}

.footer-nav > li > a{
  display: block;
  font-size: 12px;
  padding: 5px 0;
  text-decoration: none;
}

.footer-title{
  font-weight: 600;
  font-size: 24px;
}

.social{
  display: flex;
  margin: 35px 0;
}

.social > div{
  display: block;
  border-radius: 50%;
  background: #fff;
  width: 33px;
  height: 33px;
}

.social div + div{
  margin-left: 10px;
}

.footer-bottom{
  padding: 10px 0px;
  text-align: center;
  padding-bottom: 20px;
}

.footer-bottom a{
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  opacity: 0.31;
}
